* {
  margin:0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.4rem;
  color: rgb(82, 82, 82);
}

.list-shadow:hover {
  box-shadow: 2px 2px 5px rgba(56, 56, 56, 0.3);
  cursor: pointer;
}